.registration-box {
    background-color: white;
    max-width: 550px;
    margin: 0 auto;
    position: relative;
    top: 80px;
    padding-bottom: 30px;
    border-radius: 5px;
    box-shadow: 0 5px 50px rgba(0,0,0,0.4);
    text-align: center;
}

.registration-box .box-header {
    background-color: #FFFFFF;
    margin-top: 0;
    border-radius: 5px 5px 0 0;
}

.registration-box label {
    font-weight: 700;
    font-size: .8em;
    color: #888;
    letter-spacing: 1px;
    text-transform: uppercase;
    line-height: 2em;
}

.registration-box input {
    margin-bottom: 20px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 2px;
    font-size: .9em;
    color: #888;
}

.registration-box input:focus {
    outline: none;
    border-color: #665851;
    transition: 0.5s;
    color: #665851;
}

.registration-box button {
    margin-top: 0px;
    border: 0;
    border-radius: 2px;
    color: white;
    padding: 10px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.7em;
    letter-spacing: 1px;
    background-color: #000000;
    cursor:pointer;
    outline: none;
}

.registration-box button:hover {
    opacity: 0.7;
    transition: 0.5s;
}

.registration-box button:hover {
    opacity: 0.7;
    transition: 0.5s;
}

.registration-box {
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: 1s;
}