<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Hip & Cool</title>
        <link rel="icon" type="image/png" href="images/H&C%20IMAGE.png">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <!--Custom css-->
        <link rel="stylesheet" href="css/app.css">
        <link rel="stylesheet" href="css/animate.css">
        <link rel="stylesheet" href="css/style.css">

        <!--AngularJS/Javascript-->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="js/app.js"></script>

        <!-- Google Fonts -->
        <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700|Lato:400,100,300,700,900'
              rel='stylesheet' type='text/css'>
    </head>

    <body ng-app="HipAndCool" ng-controller="LandingController">
        <div class="login-box animated fadeInUp" ng-show="!loggedOn">
            <div class="box-header">
                <img id="oc-image-name" src="images/H&C LOGO.png"/>
                <h2>Log In</h2>
            </div>
            <label for="username">Username</label>
            <br/>
            <input ng-model="username" type="text" id="username">
            <br/>
            <label for="password">Password</label>
            <br/>
            <input ng-model="password" type="password" id="password">
            <br/>
            <button type="submit" ng-click="login(username, password)">Sign In</button>
            <br/>
            <p class="small">
                <a href="register">Register</a>
                <br/>
                <a href="#">Forgot your password?</a>
            </p>
        </div>

        <h1 align="center" ng-show="loggedOn">Hip & Cool</h1>

        <!--This div adds the application properties in a table and displays it on the landing page-->
        <div class="container" ng-show="loggedOn">
            <h3 align="center">Application Properties</h3>
            <table class="table table-bordered">
                <thead>
                <tr class="bg-primary">
                    <th>Property Name</th>
                    <th>Property Value</th>
                </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="(key, value) in properties">
                    <td>{{key}}</td>
                    <td>{{value}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>