<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Hip & Cool Registration</title>
        <link rel="icon" type="image/png" href="images/H&C%20IMAGE.png">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <!--Custom css-->
        <link rel="stylesheet" href="css/app.css">
        <link rel="stylesheet" href="css/animate.css">
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/register.css">


        <!--AngularJS/Javascript-->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="js/app.js"></script>

        <!-- Google Fonts -->
        <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700|Lato:400,100,300,700,900'
              rel='stylesheet' type='text/css'>
    </head>

    <body ng-app="HipAndCool" ng-controller="LandingController">
        <div class="container">
            <div class="registration-box animated fadeInLeft">
                <img id="oc-image-name" src="images/H&C%20LOGO.png"/>
                <h2>Register</h2>
                <p>Please fill in this form to create an account.</p>
                <hr>

                <label for="reg_username"><b>Username</b></label>
                <br/>
                <input ng-model="reg_username" type="text" placeholder="Enter Username" id="reg_username" required>
                <br/>
                <label for="reg_password"><b>Password</b></label>
                <br/>
                <input ng-model="reg_password" type="password" placeholder="Enter Password" id="reg_password" required>
                <br/>
                <label for="repeat_psw"><b>Repeat Password</b></label>
                <br/>
                <input ng-model="repeat_psw" type="password" placeholder="Repeat Password" id="repeat_psw" required>
                <br/>
                <label>
                    <input type="checkbox" checked="checked" id="remember" style="margin-bottom:15px"> Remember me
                </label>

                <p>By creating an account you agree to our <a href="#" style="color:dodgerblue"><br>Terms & Privacy</a>.</p>

                <div>
                    <button type="button" ng-click="cancel()">Cancel</button>
                    <button type="submit" ng-click="register()">Sign Up</button>
                </div>
            </div>
        </div>
    </body>
</html>
